// #includes {{{
#include<bits/stdc++.h>
using namespace std;
// }}}
// #defines {{{
typedef long long LL;
const int N = 105;
const int Q = 1e9 + 7;
#define ALL(x) (x).begin(), (x).end()
// }}}

class ${ClassName} {
    public:
    ${Method.ReturnType} ${Method.Name}(${Method.Params}) {
        return ${Method.ReturnType;zeroval};
    }
};

${CutBegin}
${<TestCode}
${CutEnd}
